## LIST
1.	Slicing and Dicing of list
2.	Adding an element to list
3.	Multiply a list by a number - it dublicates the list items
4.	find anything inside a list using "2 in List"
5.	find minimum and maximum of a list only when there are same elements in the list
6.	APPENDING VALUES TO THE LIST
7.	POP - it removed the value at specified index
8.	Reverse a list
9.	Filtering out the list elements
10.	Counting the frequency of element in the list	
11.	extend - it expands each letter of the the word
12.	.INDEX - finds the index of the elment in list
13.	Insert elements in the list
14.	SORT VALUES IN LIST

## TUPLES
1.	Slicing and dicing operation in tuples
2.	DIFFERENCE BETWEEN LIST AND TUPLE PRACTICAL
3.	Addiiton in tuples
4.	Count the number of specified element in a tuple
5.	Converting tuple to List
6.	converting list to tuple
7.	Converting list to string

## DICTIONARY - Key:Value Pair
1.	Search key/values in dictionary
2.	If 2 keys are same then only first key:value pair is considered
3.	Inserting key:value pair in dict
4.	Inserting 1 dictionary into another
5.	More varieties to understand dictionary
6.	KEY in dictionary can not be a list
7.	KEY in dictionary can not be a dictionary
8.	Dictionaries can not be added
9.	FIND ALL KEYS & Values IN DICTIONARY

## SET
1.	Convert set to list
2.	Convert Set to Tuple
3.	Add element in Set
4.	List can not be addd in Sets
5.	List can not be kept inside a set
6.	Remove, discard and POP element from the set
Find Area of a triangle

# LIST - A list can have all types of data in it such as Integer, float, String and Boolean

### Slicing and Dicing of list

In [159]:
l = [1,2,3,4,5, "python" , 45.67, True]

In [51]:
l[0]

1

In [52]:
l[-1]

True

In [53]:
len(l)

8

In [54]:
l[0:5]

[1, 2, 3, 4, 5]

In [55]:
l[::-1]

[True, 45.67, 'python', 5, 4, 3, 2, 1]

In [56]:
l[0:100:2]

[1, 3, 5, 45.67]

In [57]:
l[0:8:-1]

[]

In [58]:
l[:3]

[1, 2, 3]

### Adding an element to list

In [59]:
l +["sql","python"]

[1, 2, 3, 4, 5, 'python', 45.67, True, 'sql', 'python']

### Multiply a list by a number - it dublicates the list items

In [60]:
l * 2

[1, 2, 3, 4, 5, 'python', 45.67, True, 1, 2, 3, 4, 5, 'python', 45.67, True]

### find anything inside a list  using "2 in List"

In [61]:
60 in l

False

In [62]:
2 in l

True

### find minimum and maximum of a list only when there are same elements in the list

In [63]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [64]:
l1 = [3,4,5,6,6]

In [65]:
max(l1)

6

In [66]:
l2 = ["python" , "machine learning" , "sql", "tableau"]

In [67]:
max(l2)

'tableau'

In [68]:
min(l1)

3

In [69]:
min(l2)

'machine learning'

### APPENDING VALUES TO THE LIST

In [70]:
l

[1, 2, 3, 4, 5, 'python', 45.67, True]

In [71]:
l.append("sql")

In [72]:
l

[1, 2, 3, 4, 5, 'python', 45.67, True, 'sql']

In [73]:
l.append([1,2,3,4])

In [74]:
l

[1, 2, 3, 4, 5, 'python', 45.67, True, 'sql', [1, 2, 3, 4]]

### POP - it removed the value at specified index

In [75]:
l.pop(0)

1

In [76]:
l

[2, 3, 4, 5, 'python', 45.67, True, 'sql', [1, 2, 3, 4]]

In [77]:
l.pop()

[1, 2, 3, 4]

In [78]:
l

[2, 3, 4, 5, 'python', 45.67, True, 'sql']

### Reverse a list

In [84]:
l = l[::-1]

In [85]:
l

['sql', True, 45.67, 'python', 5, 4, 3, 2]

In [86]:
l.reverse()

In [87]:
l

[2, 3, 4, 5, 'python', 45.67, True, 'sql']

### SORTING OF A LIST

In [45]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [91]:
l1

[3, 4, 5, 6, 6]

In [92]:
l1.sort()

In [93]:
l1

[3, 4, 5, 6, 6]

In [94]:
l3 = [8,98,34,23,1,0]

In [95]:
l3.sort(reverse= True )

In [96]:
l3

[98, 34, 23, 8, 1, 0]

In [97]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [98]:
l4 = [l1,l2,l3]

In [57]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [64]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

### Filtering out the list elements

In [99]:
l4[2][1]

2

In [100]:
l4[2][1]

2

In [123]:
l

[1, 2, 3, 4, 5, 'python', 45.67, True]

### Counting the frequency of element in the list

In [124]:
l.count(2)

1

In [103]:
l5 = [3,4,5,3,3,3]

In [104]:
l5.count(3)

4

In [105]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

l4=[l1,l2,l3]

l4.count(3)

0

In [115]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [116]:
l4.count(3)

0

### Extend - extend - it expands each letter of the the string

In [138]:
l.extend("[ml]")

In [139]:
l

[1, 2, 3, 4, 5, 'python', 45.67, True, '[', 'm', 'l', ']']

### .INDEX -  finds the index of the elment in list

In [145]:
l7  = [1,2,3,4,55,6,6,7]

In [147]:
l7.index(7)

7

### Insert elements in the list

In [148]:
l

[1, 2, 3, 4, 5, 'python', 45.67, True, '[', 'm', 'l', ']']

In [149]:
l.insert(1 , [1,2,34])

In [150]:
l

[1, [1, 2, 34], 2, 3, 4, 5, 'python', 45.67, True, '[', 'm', 'l', ']']

### POP and remove in list

In [168]:
l

[1, 2, 5, 'python']

In [167]:
l.pop(4)

45.67

In [169]:
l

[1, 2, 5, 'python']

In [171]:
l.remove('python')

In [172]:
l

[1, 2, 5]

# TUPLE - Tuples are not mutable

In [173]:
t = (4,5,6,7,"python" ,45.67, True)

In [174]:
type(t)

tuple

In [175]:
t[0]

4

In [176]:
t[0:4]

(4, 5, 6, 7)

In [177]:
t[-1]

True

### slicing and dicing of tuple

In [178]:
t[0:6:2]

(4, 6, 'python')

In [179]:
t[0:4:-1]

()

### DIFFERENCE BETWEEN LIST AND TUPLE PRACTICAL

In [185]:
l = [1,2,3,456,78]

In [186]:
l[2] = "sql"

In [187]:
l

[1, 2, 'sql', 456, 78]

In [130]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [188]:
t[2] = "sql"

TypeError: 'tuple' object does not support item assignment

### Addiiton in tuples

In [191]:
t1 = (3,4,5,6)

In [192]:
t

(4, 5, 6, 7, 'python', 45.67, True)

In [193]:
t +t1

(4, 5, 6, 7, 'python', 45.67, True, 3, 4, 5, 6)

### Count the number of specified element in a tuple

In [195]:
t.count(3)

0

In [196]:
t.count(4)

1

In [139]:
t = t+t1

In [197]:
t

(4, 5, 6, 7, 'python', 45.67, True)

In [198]:
t = (3,4,56,7, "sql")

### Converting tuple to List

In [199]:
t2 = list(t)

In [200]:
t2

[3, 4, 56, 7, 'sql']

### converting list to tuple

In [203]:
tuple(t2)

(3, 4, 56, 7, 'sql')

### Converting list to string

In [204]:
str(t2)

"[3, 4, 56, 7, 'sql']"

# DICTIONARY - Key:Value Pair

In [205]:
d = {}

In [206]:
type(d)

dict

#### Set

In [209]:
d1 = {1}

In [210]:
type(d1)

set

#### Dictionary

In [218]:
d2 = { 'Tool' : "Python"  , 3.8 : "version" , "Coding" : "SQL" , "IPV" : 8000 }

In [212]:
type(d2)

dict

In [213]:
d2['Tool']

'Python'

In [214]:
d2['IPV']

8000

In [244]:
d3 = {'name': "Data Science" , 'tech' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}

In [216]:
d3

{'name': 'Data Science',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

### Search key/values in dictionary

In [219]:
"python" in d3['tech']

True

### If 2 keys are same then only first key:value pair is considered

In [222]:
d4 = {"name" :"Data Science" , "contact_info" : 345345 , "name":"SQL"}

In [223]:
d4

{'name': 'SQL', 'contact_info': 345345}

### Inserting key:value pair in dict

In [226]:
d4["name1"] = "xyz"

In [227]:
d4

{'name': 'SQL', 'contact_info': 345345, 'name1': 'xyz'}

In [231]:
d2

{'Tool': 'Python', 3.8: 'version', 'Coding': 'SQL', 'IPV': 8000}

### Inserting 1 dictionary into another

In [232]:
d4['k2'] = d2

In [233]:
d4

{'name': 'SQL',
 'contact_info': 345345,
 'name1': 'xyz',
 'k2': {'Tool': 'Python', 3.8: 'version', 'Coding': 'SQL', 'IPV': 8000}}

In [235]:
d4['k2']['IPV']

8000

#### More varieties to understand dictionary

In [238]:
d5 = {_: "sdfsd"}

In [239]:
d5[_]

'sdfsd'

In [240]:
d6 = {(1,2,34) : "fsdfs"}

In [241]:
d6[(1,2,34)]

'fsdfs'

### KEY in dictionary can not be a list

In [245]:
d7 = {[(1,2,3,4)] : "fasdfasfas"}

TypeError: unhashable type: 'list'

### KEY in dictionary can not be a dictionary

In [247]:
d8 = {{3:4} : "fsdfs"}

TypeError: unhashable type: 'dict'

### Dictionaries can not be added

In [251]:
d2

{'Tool': 'Python', 3.8: 'version', 'Coding': 'SQL', 'IPV': 8000}

In [252]:
d3

{'name': 'Data Science',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [253]:
d2 +d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### FIND ALL KEYS & Values IN DICTIONARY

In [258]:
d2

{'Tool': 'Python', 3.8: 'version', 'Coding': 'SQL', 'IPV': 8000}

In [259]:
d2.keys()

dict_keys(['Tool', 3.8, 'Coding', 'IPV'])

In [260]:
d2.values()

dict_values(['Python', 'version', 'SQL', 8000])

In [261]:
d2.items()

dict_items([('Tool', 'Python'), (3.8, 'version'), ('Coding', 'SQL'), ('IPV', 8000)])

# SET

In [262]:
s = {3,4,5,6,7,8}

In [263]:
type(s)

set

In [264]:
s1 = {3,4,4,5,6,6,7,7,8,8,9,9,0,0,0}

In [265]:
s1

{0, 3, 4, 5, 6, 7, 8, 9}

In [266]:
s2 = { 3245,4545,6456,5645,675,6234,345}

In [267]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [268]:
s3 = {"sql" , 324,34,12,645,12,5,'b' , '6'}

In [269]:
s3

{12, 324, 34, 5, '6', 645, 'b', 'sql'}

In [270]:
s3[0]

TypeError: 'set' object is not subscriptable

### Convert set to list

In [271]:
list(s3)

[34, 324, 5, 645, 12, 'sql', '6', 'b']

### Convert Set to Tuple

In [272]:
tuple(s3)

(34, 324, 5, 645, 12, 'sql', '6', 'b')

In [273]:
 l = [2,3,4,5656,7,6,7,7,7,77,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7]

### Add element in Set

In [276]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [277]:
s2.add(34)

In [278]:
s2

{34, 345, 675, 3245, 4545, 5645, 6234, 6456}

#### List can not be addd in Sets

In [214]:
s2.add([1,2,3,4,5])

TypeError: unhashable type: 'list'

In [279]:
s = {(1,2,3,4,5) , 3,4,45,65,6}

In [280]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

### List can not be kept inside a set

In [281]:
s1 = {[1,2,3,4] , 345 ,345}

TypeError: unhashable type: 'list'

### Remove, discard and POP element from the set

In [282]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [284]:
s.remove(45)

In [285]:
s

{(1, 2, 3, 4, 5), 3, 4, 6, 65}

In [290]:
s.discard(3)

In [291]:
s

{(1, 2, 3, 4, 5), 4, 6}

In [292]:
s.pop()

4

In [293]:
s

{(1, 2, 3, 4, 5), 6}

#### SORT VALUES IN LIST

In [299]:
l3

[7, 8, 9]

In [300]:
l3.sort(reverse=True)

In [305]:
l3

[9, 8, 7]

# OTHER LEARNING

## Find Area of a triangle

In [306]:
side1 = float(input("Enter first side of triangle"))
side2 = float(input("Enter second side of triangle"))
side3 = float(input("Enter third side of triangle"))
s = (side1+side2+side3)/2
ar = (s*(s-side1)*(s-side2)*(s-side3)) ** 0.5
print("Area of the triangle is, ", ar)

Enter first side of triangle30
Enter second side of triangle25
Enter third side of triangle30
Area of the triangle is,  340.8972535823661